@font-face {
  font-family: 'trade gothic b con 2';
  src: url('/static/fonts/84c568ba-a16d-43bb-ad9f-783ab985108f.ttf') format('truetype'), url('/static/fonts/c9083b7e-ba26-4e45-8f1b-34ad32e924e5.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'trade gothic bold';
  src: url('/static/fonts/3e9c6e62-e41c-408b-bef3-ffa454301b17.woff') format('woff'), url('/static/fonts/a74675c3-a15b-41ed-8409-e90f921c3cb8.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'trade gothic light';
  src: url('/static/fonts/3490ccd3-6e42-49ba-9733-7af1e400a3b4.woff') format('woff'), url('/static/fonts/c44646ee-cf36-4809-92b4-9b4f292a2ca1.ttf') format('truetype');
  font-weight: normal;
}

/* $font-bold: 'trade gothic b con 2', Helvetica, sans-serif; */
/* $font-light: 'trade gothic light', Helvetica, sans-serif; */


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0px;
}

body.quax-body {
  font-family: 'trade gothic light', Helvetica, sans-serif;
  font-weight: normal;
  padding-top: 5px;
  background-color: #fff0c7;
  background-image: url('/static/img/Quax-Intranet-BG.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  font-size: 16px;
  color: #4a4438;
  padding-bottom: 60px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-weight: 700;
  font-size: 1.75rem;
  font-family: "trade gothic bold", Helvetica, sans-serif;
}

.logo {
  text-align: center;
}

.logo img {
  margin-left: -40px;
  display: block;
}

.title {
  margin-left: 0px;
  font-size: 5.2em;
  font-weight: 700;
  font-family: 'trade gothic b con 2';
}

#app {
  /* border: 1px solid lime; */
  display: flex;
  background-color: rgba(255, 255, 255, 0.65);
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-width: 60%;
  margin: 0 auto;
  padding: 0;
  border-radius: 20px;
}

.form-step {
  text-align: left;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.form-step-divider {
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.form-step-divider hr {
  border-top: dotted;
}

/*#app form {
  width: 300px;
}*/


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/**
 * FilePond v5: specific styles for the upload element
 */

.form-step form {
  margin-right: 40px;
}

.filepond--item {
    width: calc(25% - 0.5em);
}

.filepond--panel-root {
    background-color: white;
    border: 3px solid gray;
}


.filepond--drop-label {
  background-color: transparent;
  /*border: 3px solid gray;
  background-color: #ffffff;*/
}
/* disable enter/leave animations */
.filepond--item {
  transition: none !important;
  animation: none !important;
}

/* if you use filepond--item-wrapper or other classes */
.filepond--item-wrapper,
.filepond--image-preview-wrapper,
.filepond--panel {
  transition: none !important;
  animation: none !important;
}

/* Limiting the height of FilePond */
.filepond--root {
  background-color: #fff;
    max-height: 50em;
}