<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/img/QuaxMotorFavicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Uwe Kamper">
    <title>QUAX-Uploader</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/QuaxMotorFavicon.png">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/vendor/filepond-master/dist/filepond.css">
    <link  rel="stylesheet" href="/static/vendor/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.css" />
    <script src="/static/vendor/filepond-master/dist/filepond.js"></script>
    <script src="/static/vendor/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.js"></script>
    <script src="/static/vendor/filepond-plugin-image-exif-orientation-master/dist/filepond-plugin-image-exif-orientation.js"></script>
  </head>
  {% block body %}{% endblock body %}
</html>