{% extends "base.html" %}

{% block body %}
  <body class="quax-body">
    <div class="logo">
      <img src="/static/img/nav-logo-QX.png" style="width: 350px; margin-top: 25px;">
      <span class="title">UPLOADER</span>
    </div>
    <div id="app">
      
      <div class="form-step">
        <h3>Schritt 1: Bist du ein Mensch?</h3>
        <p>
          Das ist leider nötig, damit wir nicht von SPAM-Bot aus dem Internet
          zugemüllt werden.
        </p>
        <div class="h-captcha" data-sitekey="your_site_key"></div>
        <button class="btn pull-right">Weiter</button>
      </div>

      <div class="form-step-divider">
        <hr style="border-top-width: 5px;">
      </div>

      <div class="form-step">
        <h3>Schritt 2: Beschreibe, was du hochlädst</h3>
      
        <form action="." method="post" >
          <div>
            <label for="id_copyright_name">Name (für Copyright-Hinweise)*</label>
            <input id="id_copyright_name" name="copyright_name" type="text" required="true" />
          </div>

          <div>
            <label for="id_copyright_name">E-Mail-Adresse (für Rückfragen)</label>
            <input id="id_copyright_name" name="copyright_name" type="text" />
          </div>

          <div>
            <label for="id_event_name">QUAX-Veranstaltung</label>
            <input id="id_event_name" name="event_name" type="text" />
          </div>

          <div>
            <label>Verwendung*</label>
            <input name="usage" type="radio" value="public" id="id_radio_public"><label for="id_radio_public">öffentlich</label>
            <input name="usage" type="radio" value="internal" id="id_radio_internal"><label for="id_radio_internal">nur vereins-intern</label>
            <input name="usage" type="radio" value="other" id="id_radio_other"><label for="id_radio_other">andere</label>
          </div>

            <div>
              <label for="id_additional_info">Weitere Infos oder Hinweis zu Deiner Einsendung</label>
              <textarea id="id_additional_info" name="additional_info">

              </textarea>
            </div>
            <input class="btn" type="submit" value="Abschicken">
          </form>
        </form>
      </div>

      <div class="form-step-divider">
        <hr style="border-top-width: 5px;">
      </div>

      <div class="form-step">
        <h3>Schritt 3: Bilder/Videos/Dateien hochladen.</h3>
        <p>
          Am PC kannst beliebig viele Dateien und Verzeichnisse auch per Drag&Drop in den Bereich unterhalb ziehen.
        </p>
        <form>
        <form action="/upload" method="POST">
            <label for="my-file">Dateien</label>
            <file-pond>
                <input id="my-file" type="file" name="files" multiple required />
            </file-pond>

            <button type="submit">Upload</button>
        </form>
      </div>
      
    </div>
    <script type="javascript">
        var upload_id="{{ upload_id }}";
    </script>
    <script type="module">
        import { defineFilePond } from 'filepond';
        import { locale } from 'filepond/esm/locales/de-de.js';
        import { DragDropSource } from 'filepond/esm/extensions/drag-drop-source.js';
        import { ChunkedUploadStore } from 'filepond/esm/extensions/chunked-upload-store.js';
        import { createFilePondEntryList, appendEntryImageView, appendEntryVideoView} from 'filepond/esm/templates/index.js';
        // Add image view to default template
        const template = createFilePondEntryList();
        appendEntryImageView(template, {
            // Image view options
        });
        appendEntryVideoView(template, {
            // Video view options
        });

        defineFilePond({
            locale,
            // Set custom template
            EntryListView: {
                template,
            },
            extensions: [
                [
                    ChunkedUploadStore,
                    {
                        // The URL the store will send files to
                        url: '/upload/',
                        // When a file is added, just store it immediately
                        shouldStore: (entry) => true,
                    },
                ],
            ],
        });
    </script>
  </body>
{% endblock body %}
